@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.btn {
float: none;
height: auto;
margin: 0 auto;
padding: 15px;
position: relative;
width: auto; 
border: 1px solid black;
border-radius: 5px;
background: #9bcb3c;
font-weight: bold;
text-align: center;
font-family: "Open Sans", sans-serif;
font-size: 24pt;
color: #ffffff;
}